<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fasilitas - SMP Islam Swasta Al Wasliyah 20 Medan</title>
    <link rel="stylesheet" href="/css/fasilitas.css">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <h1>Fasilitas SMP Islam Swasta Al Wasliyah 20 Medan</h1>
        </div>
    </header>

    <div class="fasilitas-container">
        <div class="card-container">
            <div class="card">
                <img src="images/fasilitas/slide1.jpg" alt="Laboratorium">
                <div class="card-content">
                    <h3>Laboratorium</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
                </div>
            </div>

            <div class="card">
                <img src="images/fasilitas/slide1.jpg" alt="Laboratorium">
                <div class="card-content">
                    <h3>Laboratorium</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
                </div>
            </div>

            <div class="card">
                <img src="images/fasilitas/slide1.jpg" alt="Laboratorium">
                <div class="card-content">
                    <h3>Laboratorium</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
                </div>
            </div>

            <div class="card">
                <img src="images/fasilitas/slide1.jpg" alt="Laboratorium">
                <div class="card-content">
                    <h3>Laboratorium</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
                </div>
            </div>

            <div class="card">
                <img src="images/fasilitas/slide1.jpg" alt="Laboratorium">
                <div class="card-content">
                    <h3>Laboratorium</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
                </div>
            </div>

            <div class="card">
                <img src="images/fasilitas/slide1.jpg" alt="Laboratorium">
                <div class="card-content">
                    <h3>Laboratorium</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
                </div>
            </div>


            <div class="card">
                <img src="images/fasilitas/slide1.jpg" alt="Laboratorium">
                <div class="card-content">
                    <h3>Laboratorium</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
                </div>
            </div>


            <div class="card">
                <img src="images/fasilitas/slide1.jpg" alt="Laboratorium">
                <div class="card-content">
                    <h3>Laboratorium</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
                </div>
            </div>


            <div class="card">
                <img src="images/fasilitas/slide1.jpg" alt="Laboratorium">
                <div class="card-content">
                    <h3>Laboratorium</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
                </div>
            </div>
        </div>
</body>

</html>