<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Fasilitas - SMP Islam Swasta Al Wasliyah 20 Medan</title>
    <link rel="stylesheet" href="/css/fasilitas.css">
</head>

<body>
    <header class="header">
        <div class="navigation-container">
            <h1 class="logo">SMP Islam Swasta Al Wasliyah 20 Medan</h1>
            <nav class="navigation">
                <a href="#" class="nav-item">Home</a>
                <div class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle">Profil <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-menu">
                        <a href="#">Sejarah</a>
                        <a href="#">Visi dan Misi</a>
                        <a href="#">Fasilitas</a>
                    </div>
                </div>
                <a href="#" class="nav-item">Mading Digital</a>
                <a href="#" class="nav-item">Contact</a>
                <a href="#" class="nav-item login">Login</a>
            </nav>
        </div>

    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Fasilitas</h1>
            <p>Selamat datang di halaman Fasilitas SMP Islam Swasta Al Wasliyah 20 Medan! Berbagai fasilitas tersedia untuk mendukung proses pembelajaran dan pengembangan karakter siswa. Ruang-ruang yang ada mendukung kegiatan akademis, olahraga, serta pengalaman
                belajar yang menyenangkan dan produktif bagi setiap siswa.</p>
        </div>
        <img src="/images/hero-fasilitas.jpg" alt="Hero Fasilitas" class="hero-image">
    </section>

    <!-- Grid Section -->
    <section id="fasilitas" class="fasilitas-container">
        <h2>Daftar Fasilitas</h2>
        <div class="card-container">
            <div class="card">
                <img src="/images/fasilitas/mushola.jpeg" alt="Musholah">
                <div class="card-content">
                    <h3>Musholah</h3>
                    <p>Musholah yang digunakan untuk kegiatan keagamaan, seperti shalat berjamaah, yang merupakan bagian penting dari pendidikan karakter siswa.</p>
                </div>
            </div>

            <div class="card">
                <img src="images/fasilitas/ruangkelas.jpg" alt="Perpustakaan">
                <div class="card-content">
                    <h3>Ruang Kelas</h3>
                    <p>Ruang kelas yang nyaman dan dilengkapi dengan fasilitas pembelajaran yang memadai, memungkinkan siswa untuk belajar dengan baik dalam suasana yang kondusif</p>
                </div>
            </div>

            <div class="card">
                <img src="images/fasilitas/lapangan.png" alt="Lapangan Olahraga">
                <div class="card-content">
                    <h3>Lapangan</h3>
                    <p>Lapangan yang mendukung berbagai kegiatan siswa. Lapangan ini digunakan untuk olahraga seperti sepak bola, serta sebagai area bermain. Selain itu, lapangan ini juga berfungsi untuk upacara bendera, perayaan hari besar nasional, dan
                        kegiatan sekolah lainnya. Begitu juga, lapangan ini ideal untuk kegiatan ekstrakurikuler seperti latihan pramuka, memberikan kesempatan bagi siswa untuk mengembangkan keterampilan di luar kurikulum akademis. Hal ini menciptakan
                        lingkungan yang aktif dan menyenangkan bagi semua siswa.</p>
                </div>
            </div>

            <div class="card">
                <img src="images/fasilitas/kelas.jpg" alt="Ruang Kelas">
                <div class="card-content">
                    <h3>Perpustakaan</h3>
                    <p>Perpustakaan yang menyediakan berbagai koleksi buku dan sumber belajar lainnya, mendukung kegiatan membaca siswa.</p>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/fasilitas.js"></script>
</body>

</html>