<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>SMP IT Al Wasliyah 20 Medan</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <nav class="green-header">
                <a href="mailto:smpitalwasliyah20medan@gmail.com">
                    <i class="fas fa-envelope"></i> smpitalwasliyah20medan@gmail.com
                </a>
                <a href="tel:085275076530">
                    <i class="fas fa-phone-alt"></i> 0852-7507-6530
                </a>
                <a href="#">
                    <i class="fas fa-map-marker-alt"></i> Jl. Mabar No.2, Sei Kera Hilir II, Kec. Medan Perjuangan, Kota Medan
                </a>
            </nav>
        </div>
    </header>

    <div class="navigation-container">
        <h1 class="logo">SMP Islam Swasta Al Wasliyah 20 Medan</h1>
        <nav class="navigation">
            <a href="#" class="nav-item">Home</a>
            <div class="nav-item dropdown">
                <a href="#" class="dropdown-toggle">Profil <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <a href="#">Sejarah</a>
                    <a href="#">Visi dan Misi</a>
                    <a href="#">Fasilitas</a>
                </div>
            </div>
            <a href="#" class="nav-item">Mading Digital</a>
            <a href="#" class="nav-item">Contact</a>
            <a href="login" class="nav-item login">Login</a>
        </nav>
    </div>

    <div class="welcome-text">
        <h2>Selamat datang di Website</h2>
        <h1>SMP Islam Terpadu Al Wasliyah 20 Medan</h1>
        <a href="#" class="view-more-link">Lihat Selengkapnya</a>
    </div>

    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="images/slideshow/slide1.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="images/slideshow/slide2.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="images/slideshow/slide3.jpg" style="width:100%">
        </div>

        <div class="dots-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>

    <div class="profile-card">
        <div class="profile-image">
            <img src="/images/profile/kepsek.png" alt="Foto Kepala Sekolah">
        </div>
        <div class="profile-content">
            <h3>Sambutan Kepala Sekolah SMP Islam Terpadu Islam Wasliyah 20 Medan</h3>
            <p>Selamat datang di halaman resmi SMP Islam Terpadu Al Wasliyah 20 Medan. Kami berkomitmen untuk memberikan pendidikan berkualitas yang mengedepankan nilai-nilai keislaman dan karakter yang baik. Dengan berbagai program dan kegiatan, sekolah
                ini berupaya mengembangkan potensi setiap siswa agar siap menghadapi tantangan di masa depan. Terima kasih atas dukungan dan kepercayaan yang diberikan kepada kami.</p>
        </div>
    </div>

    <div class="fasilitas-container">
        <h2>Fasilitas</h2>
        <div class="card-container">
            <div class="card">
                <img src="images/fasilitas/mushola.jpeg" alt="Gambar fasilitas 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
            </div>
            <div class="card">
                <img src="images/fasilitas/mushola.jpeg" alt="Gambar fasilitas 2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
            </div>
            <div class="card">
                <img src="images/fasilitas/mushola.jpeg" alt="Gambar fasilitas 3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
            </div>
        </div>
        <a href="/fasilitas" class="card-view-more-link">Lihat Selengkapnya</a>
    </div>

    <div class="ekstrakulikuler-container">
        <h2>Ekstrakulikuler</h2>
        <div class="ekstrakulikuler-card-container">
            <div class="ekstrakulikuler-card">
                <img src="images/fasilitas/slide1.jpg" alt="Gambar fasilitas 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
            </div>
            <div class="ekstrakulikuler-card">
                <img src="images/fasilitas/slide2.jpg" alt="Gambar fasilitas 2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
            </div>
        </div>
    </div>

    <div class="pengumuman-container">
        <h2>Pengumuman</h2>
        <div class="pengumuman-card-container">
            <div class="pengumuman-card">
                <img src="images/fasilitas/slide1.jpg" alt="Gambar fasilitas 1">
                <div class="admin-info">
                    <i class="fas fa-user"></i> <span>Admin</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
            </div>
            <div class="pengumuman-card">
                <img src="images/fasilitas/slide2.jpg" alt="Gambar fasilitas 2">
                <div class="admin-info">
                    <i class="fas fa-user"></i> <span>Admin</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
            </div>
            <div class="pengumuman-card">
                <img src="images/fasilitas/slide3.jpg" alt="Gambar fasilitas 3">
                <div class="admin-info">
                    <i class="fas fa-user"></i> <span>Admin</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus ex non fermentum congue.</p>
            </div>
        </div>
    </div>

    <div class="guru-container">
        <h2>Guru - guru</h2>
        <div class="guru-list">
            <div class="guru-card">
                <div class="guru-image">
                    <img src="/images/profile/kepsek.png" alt="Gambar guru 1">
                </div>
                <div class="guru-info">
                    <p>Sayuti S.Pd.I</p>
                    <p>Kepala Sekolah</p>
                </div>
            </div>

            <div class="guru-card">
                <div class="guru-image">
                    <img src="/images/guru-guru/guru1.png" alt="Gambar guru 2">
                </div>
                <div class="guru-info">
                    <p>Sayuti S.Pd.I</p>
                    <p>Kepala Sekolah</p>
                </div>
            </div>

            <div class="guru-card">
                <div class="guru-image">
                    <img src="/images/guru-guru/guru2.png" alt="Gambar guru 2">
                </div>
                <div class="guru-info">
                    <p>Sayuti S.Pd.I</p>
                    <p>Kepala Sekolah</p>
                </div>
            </div>
        </div>
        <a href="/guru" class="card-view-more-link">Lihat Selengkapnya</a>
    </div>

    <footer>
        <div class="container">
            <div class="contact">
                <h3 class="contact-title">Contact Us</h3>
                <ul>
                    <li><a href="mailto:smpitalwasliyah20medan@gmail.com"><i class="fa fa-envelope"></i> smpitalwasliyah20medan@gmail.com</a></li>
                    <li><i class="fa fa-phone"></i> 0852-7507-6530</li>
                    <li><i class="fa fa-map-marker"></i> Jl. Mabar No.2, Sei Kera Hilir II, Kec. Medan Perjuangan, Kota Medan</li>
                </ul>
            </div>
            <div class="social">
                <h3 class="social-title">Follow Us</h3>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i> SMP Swasta Islam Terpadu Al Wasliyah 20 Medan</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>